html,
  body { font-family: 'Lekton', sans-serif; margin:0;
    color:black;
  font-size: 18px;
  line-height: 1.5;}
  section {
    overflow: auto ; padding: 15px;
        
    }
  .pozadi {background-image: url(obrazky/pozadi.png); background-repeat: no-repeat;background-attachment:fixed;
    background-size: cover ;}
    .menu {
      margin: 0;
      padding: 0;
      text-align: left;
      color: black;
      background-color:white;
      opacity: 80%;
     
    }
    
    .menu a {
      display: inline-block;
      padding: 20px 30px;
      font-size: 20px;
      font-style: normal;
      text-decoration: none;
      font-weight: bold;
      color:black;
    }
    
    .menu a:hover {
      background-color:#b62432;
    }

  